html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary);
  font-family: var(--font-main);
  margin: auto;
  color: var(--secondary);
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}