@media screen and (max-width: 600px) {
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav__toggle {
    display: block;
  }
  .nav__right {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .nav__toggle {
    display: none;
  }
  .nav__right {
    display: block;
  }
}